<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lin1874.blog.mapper.LinksMapper">

    <select id="getAllLinks" resultType="cn.lin1874.blog.po.Links">
        select * from `links`
    </select>
    <select id="getLinksById" resultType="cn.lin1874.blog.po.Links">
        select * from `links` where `id` = #{id}
    </select>
    <insert id="addLinks" parameterType="cn.lin1874.blog.po.Links">
        insert into `links`(`name`,`introduce`,`url`,`pic`)
        value (#{name},#{introduce},#{url},#{pic})
    </insert>
    <delete id="deleteLinksById">
        delete from `links` where `id` = #{id}
    </delete>
    <update id="updateLinks" parameterType="cn.lin1874.blog.po.Links">
        update `links` set `name` = #{name}, `introduce` = #{introduce},
        `url` = #{url}, `pic` = #{pic} where `id` = #{id}
    </update>




</mapper>