<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='友链管理',active='links'">
<header th:replace="_admin/header::headerFragment"></header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="_admin/header::header-body(${active})"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">友链修改</h4>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <form method="post" th:action="@{/_admin/do/links/update}">
                                <input type="hidden" name="id" th:value="${link.id}">
                                <div class="form-group">
                                    <label>name</label>
                                    <input type="text" class="form-control" name="name" th:value="${link.name}">
                                </div>
                                <div class="form-group">
                                    <label >introduce</label>
                                    <input type="text" class="form-control" name="introduce" th:value="${link.introduce}">
                                </div>
                                <div class="form-group">
                                    <label >url</label>
                                    <input type="text" class="form-control" name="url" th:value="${link.url}">
                                </div>
                                <div class="form-group">
                                    <label >pic</label>
                                    <input type="text" class="form-control" name="pic" th:value="${link.pic}">
                                </div>

                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </table>

                    </div>
                </div>
                <div th:replace="_admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="_admin/footer :: footer"></div>
</body>
</html>