<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='文件管理',active='attach'">
<header th:replace="_admin/header::headerFragment"></header>


<body class="fixed-left">
<div id="wrapper">
    <div th:replace="_admin/header::header-body(${active})"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">文件管理</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12 portlets">
                            <!-- Your awesome content goes here -->
                            <div class="m-b-30">
                                <form id="cform" enctype="multipart/form-data" method="post">
                                    <div>
                                        <input name="file" id="file" type="file" multiple="multiple"/>
                                    </div>
                                    <button type="button" id="uploadBtn">上传</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 attach">
                            <div class="col-md-10">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>name</th>
                                            <th>url</th>
                                        </tr>
                                    </thead>
                                    <tbody id="fileBody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="_admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="_admin/footer :: footer"></div>
<script src="//cdn.bootcss.com/dropzone/4.3.0/min/dropzone.min.js"></script>
<script src="//cdn.bootcss.com/clipboard.js/1.6.0/clipboard.min.js"></script>
<script>
    $(function (){
        getFileListData();
    })
    function getFileListData() {
        $.ajax({
            type: "GET",
            url: "/_admin/get/upload/data",
            success: function (response){

                showFileList(response.data);

            }
        })
    }
    function showFileList(data) {
        var tbodyTd = $("#fileBody").empty();
        $.each(data,function (){
            var trTd = $("<tr></tr>").append($("<td></td>").text(this.fileName)).append($("<td></td>").text(this.url));
            tbodyTd.append(trTd);
        })
    }
    $("#uploadBtn").click(function (){
        var formData = new FormData();
        formData.append("file",$("#file")[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/_admin/do/upload",
            data: formData,
            contentType: false,
            dataType:"json",
            processData: false,
            mimeType:"multipart/form-data",
            success: function (response){
                alert(response.message);
                getFileListData();
            }
        })
    });
</script>
</body>

</html>